body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.card {
    background-color: white;
    width: 300px;
    padding: 20px;
    margin: 50px auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
}

.card h2 {
    font-size: 24px;
    font-weight: bold;
}

.card p {
    line-height: 1.6;
    letter-spacing: 1px;
}

button {
    padding: 8px 15px;
    background-color: teal;
    color: white;
    border: none;
    border-radius: 5px;
}


