@model List<WebApplication5.Models.Product>

<h2>Product List</h2>

<a href="/Product/Create">Add Product</a>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Category</th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductId</td>
            <td>@item.ProductName</td>
            <td>@item.Price</td>
            <td>@item.Category</td>
            <td>
                <a href="/Product/Edit/@item.ProductId">Edit</a> |
                <a href="/Product/Delete/@item.ProductId">Delete</a>
            </td>
        </tr>
    }
</table>