.features {
    text-align: center;
    font-family: Verdana;
}

.features ul {
    list-style-type: none;
    padding: 0;
}

.features li {
    background-color: #e3f2fd;
    margin: 10px;
    padding: 10px;
    border: 5px solid #2196f3;
}

.features li:hover {
    background-color: #bbdefb;
}
